body {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: flex;
    margin: 0;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    background-color: #f9fafb;
    align-items: center;
}

.img {
    background-image: linear-gradient(0.6turn, #FFC051, #613DC0);
    background-size: cover;
    flex: 2;
    min-width: 200px;
    align-self: stretch;
}

.logo-img {
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40%;
}

.right {
    margin: 40px;
    margin-top: 1vh;
    flex: 3;
}

.bold-text {
    font-weight: bold;
}

ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: flex-start;
    column-gap: 2rem;
}

li {
    flex: 0 0 calc(50% - 7rem);
}

form {
    border: none;
    padding: 5px 40px 30px 40px;
    min-width: 250px;
    background-color: #fff;
    width: 100%;
    margin: 32px -40px 30px -40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

form > p {
    font-size: 1.4rem;
}

form > * {
    flex-basis: 100%;
}

label,
input {
    display: block;
}

input {
    padding-left: 4px;
    font-size: 1rem;
    width: 13rem;
    height: 2rem;
    outline: none;
    border-color: #9b9b9b;
    border-radius: 2px;
}

li > label {
    margin-bottom: 0.5rem;
}

button {
    margin-top: 12px;
    padding: 16px 24px;
    background-color: #613DC0;
    color: #fff;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
}

.login {
    font-weight: bold;
    color: #613DC0;
}

input:focus {
    outline: none;
    border-color: #613DC0;
    box-shadow: 0 0 2px #613DC0;
    border-radius: 2px;
}

input:invalid {
    outline: none;
    border-color: #cc0033;
    box-shadow: 0 0 2px #cc0033;
    border-radius: 2px;
}

button:hover {
    background-color: #8c6edf;
  }

button:active {
    background-color: #613DC0;
  }

@media (max-width: 870px) {
    body {
        display: block;
    }

    .img {
        height: 32vh;
        width: 100vw;
        padding: 16vh 0 0 0;
    }

    .logo-img {
        margin-top: 0;
    }

    .right {
        padding-bottom: 5rem;
        margin-top: 4vh;
    }
  }